*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 20% ;
}
section:last-of-type{
    display: flex;
    flex-flow: wrap;
}
section div{
    width: 200px;
    height: 200px;
}
button{
    margin: 1rem 0;
    width: 200px;
    height: 50px;
}   

